html, body {
	background-color: silver;
	padding: 0;
	margin: 0;
	font-family: Comic Sans MS;
}
#map {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 400px;
	bottom: 0px;	
	z-index: 0;
}

#menu {
	position: absolute;
	width: 400px;
	background-color: silver;
	top: 0px;
	right: 0px;
	bottom: 0px;	
	z-index: 10;
}

#menu_contents {
	padding: 1em;
}

h2 {
	padding: 0;
	margin: 0;
}

.header {
	font-size: 32pt;
	font-weight: 100;
	letter-spacing: 2pt;
}

#options {
	padding-bottom: 1em;
	padding-top: 1em;
}

#options div {
	padding-bottom: 1em;
}

#status {
	font-size: 10pt;
	color: dimgray;
	position: fixed;
	bottom: 1em;
	left: 1em;
}

#locator {
	max-width: 250px;
}

/* here's a neat trick -- this applies to all images that make up the map */
/* sort of a poor-man's dark mode. converts to grayscale then inverts. */
/* these are css filter() functions: https://www.w3schools.com/cssref/css3_pr_filter.php */
.leaflet-tile {
	filter: grayscale(100%) contrast(110%) invert(100%);
}

/* css targeting SVG elements -- these are different than normal CSS properties! */

.hover {
	stroke-opacity: 1 !important;
	fill-opacity: 0.8 !important;
}

.selected {
	fill-opacity: 1;
	stroke-opacity: 1;
	stroke: rgb(255,255,255);
	stroke-width: 10;
}

.hidden {	
	display: none !important;
}
